body {
background: Red;
font-family: Arial;
}
h1 {
color: [black];
text-align: center;
}
assign {
display: flex;
padding: 10;
margin: 10;
background: black;
}
assign img {
width: 200;
padding: 10;
}

