body {
background: black;
font-family: Arial;
}
h1 {
color: white;
text-align: center;
}
h2 {
color: white;
}
.assign {
display: flex;
padding: 10px;
margin: 10px;
background: maroon;
}
.assign img {
width: 200px;
padding: 10px;
border: 1px solid black;
margin: 1px;
}
a {
 text-decoration: none; 
 color: white;
}


